{% extends 'Componetes/Base/base.html' %} 
{% load static %}

{% block title %}Sobre Nós - HuMap{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Pages/SobreNos/sobre.css' %}" />
{% endblock %}

{% block content %}
<section class="sobre-nos-section">
    <h1>Equipe HuMap</h1>

    <p class="texto-justificado">
        O HuMap é uma rede social de impacto local criada para mapear, denunciar e acompanhar problemas em comunidades, bairros e cidades, promovendo uma nova forma de participação cidadã. A iniciativa nasceu de um grupo de jovens estudantes do Senac Recife - PE, movidos pelo desejo de transformar indignação em ação, por meio de uma ferramenta simples, transparente e colaborativa que fortalece a cidadania no dia a dia.
    </p>
    
    <div class="cards-container">

        <div class="card">
            <img src="{% static 'assets/Alan Francisco.jpg' %}" alt="Alan Francisco" class="foto">
            <h2>Alan Francisco</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 19 anos</p>
                <p><strong>Função:</strong> Desenvolvedor Front-end</p>
            </div>
            <div class="links">
                <a href="https://github.com/Alan8433" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/alan-francisco-0495143a0/" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Amanda.jpg' %}" alt="Amanda Conceição" class="foto">
            <h2>Amanda Conceição</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 26 anos</p>
                <p><strong>Função:</strong> Desenvolvedora Front-end</p>
            </div>
            <div class="links">
                <a href="#" target="_blank">GitHub</a>
                <a href="#" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Bruno.jpg' %}" alt="Bruno Nascimento" class="foto">
            <h2>Bruno Nascimento</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 23 anos</p>
                <p><strong>Função:</strong> Designer</p>
            </div>
            <div class="links">
                <a href="" target="_blank">GitHub</a>
                <a href="#" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Milenna.jpg' %}" alt="Edna Milenna" class="foto">
            <h2>Edna Milenna</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 27 anos</p>
                <p><strong>Função:</strong> Líder Back-end</p>
            </div>
            <div class="links">
                <a href="https://github.com/milennasx" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/edna-milenna-x-34ab42345" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Isabela.jpg' %}" alt="Isabela Regina" class="foto">
            <h2>Isabela Regina</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 21 anos</p>
                <p><strong>Função:</strong> Desenvolvedora Back-end</p>
            </div>
            <div class="links">
                <a href="http://github.com/isaaregina" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/isaaregina" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Itala.jpg' %}" alt="Itala Samara" class="foto">
            <h2>Itala Samara</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 27 anos</p>
                <p><strong>Função:</strong> P.O (Product Owner)</p>
            </div>
            <div class="links">
                <a href="#" target="_blank">GitHub</a>
                <a href="#" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Joao silva.jpg' %}" alt="João Bento" class="foto">
            <h2>João Bento</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 21 anos</p>
                <p><strong>Função:</strong> Desenvolvedor Front-end</p>
            </div>
            <div class="links">
                <a href="https://github.com/Joao021-code" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/joão-victor-silva-bento-2375331b3" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/João Sousa.jpg' %}" alt="João Sousa" class="foto">
            <h2>João Sousa</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 23 anos</p>
                <p><strong>Função:</strong> Desenvolvedor Front-end</p>
            </div>
            <div class="links">
                <a href="https://github.com/Skyrunor" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-sousa-silva-80b36b382" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Lucas Henrique.jpg' %}" alt="Lucas Henrique" class="foto">
            <h2>Lucas Henrique</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 25 anos</p>
                <p><strong>Função:</strong> Desenvolvedor Back-end</p>
            </div>
            <div class="links">
                <a href="https://github.com/lurikke" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/lucas-henrique-costa-de-brito-45077037a" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Luiz.jpg' %}" alt="Luiz Filipe" class="foto">
            <h2>Luiz Filipe</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 25 anos</p>
                <p><strong>Função:</strong> Designer</p>
            </div>
            <div class="links">
                <a href="https://github.com/lfom0604" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/luiz-filipe-1b5836221" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Marcos.jpg' %}" alt="Marcos Alirio" class="foto">
            <h2>Marcos Alirio</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 26 anos</p>
                <p><strong>Função:</strong> Desenvolvedor Front-end</p>
            </div>
            <div class="links">
                <a href="https://github.com/MarcosAlirio99" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/marcos-a-43062613b" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Maria Eduarda.jpg' %}" alt="Maria Eduarda" class="foto">
            <h2>Maria Eduarda</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 26 anos</p>
                <p><strong>Função:</strong> Designer</p>
            </div>
            <div class="links">
                <a href="https://github.com/eduuarda5799" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/maria-eduarda-campos-1059941a9/" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Mayke.jpg' %}" alt="Mayke Pedrosa" class="foto">
            <h2>Mayk Pedrosa</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 30 anos</p>
                <p><strong>Função:</strong> Desenvolvedor Front-end  , QA </p>
            </div>
            <div class="links">
                <a href="mailto:mwpbcompany@gmail.com" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/mayk-wesley-304059209" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Matheus.jpg' %}" alt="Matheus Felipe" class="foto">
            <h2>Matheus Felipe</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 25 anos</p>
                <p><strong>Função:</strong> Líder do Front-end</p>
            </div>
            <div class="links">
                <a href="#" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/matheusfelipedacostasilva/" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Rafael.jpg' %}" alt="Rafael José" class="foto">
            <h2>Rafael José</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 20 anos</p>
                <p><strong>Função:</strong> Desenvolvedor Front-end</p>
            </div>
            <div class="links">
                <a href="https://github.com/Rafaeljose-afk" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/rafael-jose-aa7ab2365" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Rodrigo.jpg' %}" alt="Rodrigo Marcelo" class="foto">
            <h2>Rodrigo Marcelo</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 29 anos</p>
                <p><strong>Função:</strong> Desenvolvedor Front-end</p>
            </div>
            <div class="links">
                <a href="https://github.com/Rodrigomarcelo194" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/rodrigo-marcelo-0780941b9" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Samara.jpg' %}" alt="Samara Pimentel" class="foto">
            <h2>Samara Pimentel</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 25 anos</p>
                <p><strong>Função:</strong> Documentação</p>
            </div>
            <div class="links">
                <a href="#" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/samara-pimentel-9427182a6" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Vitor Hugo.jpg' %}" alt="Vitor Hugo" class="foto">
            <h2>Vitor Hugo</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 24 anos</p>
                <p><strong>Função:</strong> Designer</p>
            </div>
            <div class="links">
                <a href="" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/vitorhfmelo/" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'assets/Yasmim.jpg' %}" alt="Yasmim Bartira" class="foto">
            <h2>Yasmim Bartira</h2>
            <div class="info-extra">
                <p><strong>Idade:</strong> 21 anos</p>
                <p><strong>Função:</strong> Designer</p>
            </div>
            <div class="links">
                <a href="https://github.com/bartmim" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/yasmim-bartira-sales-lisboa-3ab82a362" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'Pages/SobreNos/sobre.js' %}"></script>
{% endblock %}